.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
.list-avator {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border: 1px solid #999;
}
.list-avator img{
	width: 80px;
	height: 80px;
}